{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="opd_use_of_force">
    <meta property="og:image" content="">
    <meta property="og:description" content="">

    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="">

    {% compress css %}
    <!-- www.sfchronicle.com -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.sharedmain.r6.21.1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.sharedmodules.r6.21.1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.sharedpages.r6.21.1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.sitemain.r6.21.1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.sitemodules.r6.21.1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.sitepages.r6.21.1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.section.r6.21.1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/external/global.ie8.r6.21.1.0.css' %}">
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'bower_components/nouislider/distribute/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    {% endcompress %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% compress js %}
    <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
    {% endcompress %}
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block content %}
    {% endblock %}

    <script src="//projects.sfchronicle.com/shared/js/pym.min.js"></script>
    <script src="//www.sfchronicle.com/js/jquery-1.8.1.min.js"></script>
    {% compress js %}
    <script src="{% static 'bower_components/touche/src/touche.js' %}"></script>
    <script src="{% static 'bower_components/nouislider/distribute/nouislider.js' %}"></script>
    <script src="{% static 'bower_components/d3/d3.js' %}"></script>
    {% if debug %}
    <script src="{% static 'bower_components/simple-statistics/dist/simple_statistics.js' %}"></script>
    {% endif %}
    <script src="{% static 'bower_components/d3-plugins/geo/tile/tile.js' %}"></script>
    <script src="{% static 'bower_components/d3-plugins/hexbin/hexbin.js' %}"></script>
    <script src="{% static 'bower_components/foundation/js/foundation.js' %}"></script>
    <script src="{% static 'bower_components/foundation/js/foundation/foundation.accordion.js' %}"></script>
    <script src="{% static 'bower_components/foundation/js/foundation/foundation.tooltip.js' %}"></script>
    {% endcompress %}

    {% compress js %}
    <!-- bower:js -->
    <!-- endbower -->
    <script src="{% static "scripts/main.js" %}"></script>
    {% endcompress %}

    {% block javascript %}
    {% endblock %}

    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

    {% if debug %}
    <!-- livereload -->
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}
  </body>
</html>
