{% extends 'base.html' %}
{% load geojson_tags %}
{% block title %} OPD Incident Map {% endblock %}

{% block content %}
<main class="container {% if debug %}debug{% endif %}">
    <div class="map-container">
        <aside class="grayscale" id="map"></aside>

        <div class="map-label">
            <p id="label-year-range"><span class="year-range label custom-label"></span></p>
            <p id="label-total-incidents"><span id="total-label">Total</span> Incidents: <span class="total-incidents"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns" id="article-block">
            <h2>Oakland police use of force</h2>
            <p>Oakland Police Department has had over 22,000 <span data-tooltip aria-haspopup="true" role="tooltip" class="has-tip" title="Tooltips are awesome, you should totally use them!">use-of-force</span> incidents since 2007. Such incidents peaked in 2009, at 3,902 though incidents have declined steadily since May 2013.</p>

            <small class="instruction">Slide to view incidents by year</small>
            <div class="slider"></div>
            <br>
            <a href="#" id="show-all-data" class="button expand secondary">Show total incidents</a>
        </div>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <ul class="accordion" data-accordion>
              <li class="accordion-navigation">
                <a href="#methodology" class="methodology"><i class="fa fa-info-circle"></i> About this data</a>
                <div id="methodology" class="content">
                  <small>The Chronicle obtained Oakland Police Department data documenting instances in which officers used force. Some reports do not appear on the map due to imprecise addresses or difficulty geocoding a precise location, though 99 percent of total incidents were mapped to within one block.</small>
                </div>
              </li>
            </ul>

            <small class="graphic-byline">Graphic: Aaron Williams, Michael Grant and Maegan Clawges | The Chronicle</small>
        </div>
    </footer>
</main>

{% endblock %}

{% block javascript %}
<script id="incident-json">
var incidents = [
{% for incident in incidents %}
    [{{ incident.longitude }}, {{ incident.latitude }}, { 'year': '{{ incident.year }}' }],
{% endfor %}
];
</script>
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}
