{% extends 'base.html' %}
{% load geojson_tags %}
{% block title %} OPD Incident Map {% endblock %}

{% block content %}
<main class="container {% if debug %}debug{% endif %}">
    <div class="map-container">
        <aside class="grayscale" id="map"></aside>

        <div class="map-label">
            <p id="label-year-range"><span class="year-range label custom-label"></span></p>
            <p id="label-total-incidents"><span id="total-label">Total</span> Incidents: <span class="total-incidents"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns" id="article-block">
            <h2>Use of force in Oakland</h2>
            <p>An analysis of Oakland Police Department data shows a vast reduction over the past two years in <span data-tooltip data-options="disable_for_touch:true" aria-haspopup="true" role="tooltip" class="has-tip" title="The Oakland Police Department has a broad definition of use of force. It includes a range of behaviors, from grabbing suspects’ by the hair or bending their wrist to chokeholds and shootings.">use-of-force</span> incidents. Since Sean Whent was appointed interim chief in May 2013, reported use-of-force incidents have declined steadily, falling to 49 last month.</p>

            <aside class="show-for-large-up">
                {% include "_social-include.html" %}
            </aside>

            <small class="instruction">Slide to view incidents by year</small>
            <div id="slider"></div>
            <br>
            <a href="#" id="show-all-data" class="button expand secondary">Show total incidents</a>
        </div>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <ul class="accordion" data-accordion>
              <li class="accordion-navigation">
                <a href="#methodology" class="methodology"><i class="fa fa-info-circle"></i> About this data</a>
                <div id="methodology" class="content">
                  <small>The Chronicle obtained Oakland Police Department data documenting more than 22,000 instances in which officers used force since 2007. Some incidents do not appear on the map due to imprecise addresses, though 99 percent of reports were mapped to within one block.</small>
                </div>
              </li>
            </ul>

            <small class="graphic-byline">Graphic: Aaron Williams, Michael Grant and Maegan Clawges | The Chronicle</small>

            <aside class="hide-for-large-up">
                {% include "_social-include.html" %}
            </aside>
        </div>
    </footer>
</main>

{% endblock %}

{% block javascript %}
<script id="incident-json">
var incidents = [
{% for incident in incidents %}
    [{{ incident.longitude }}, {{ incident.latitude }}, { 'year': '{{ incident.year }}' }],
{% endfor %}
];
</script>
<script>
    $(document).ready(function() {
        try {
            window.pymChild = new pym.Child();

            $(window).resize(function(event) {
                pymChild.sendHeight();
            });
        } catch (e) {
            console.warn(e);
        }

        App.init();
    });
</script>
{% endblock %}
